.container-preparation-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 90%;
}
.section-select-options {
	width: 100%;
}
.container-preparation-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin-top: 150px;
	width: 560px;
	height: 100%;
	padding: 10px;
}
.title-type-question {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 50px;
	width: 100%;
	border: 2px solid #f20149;
}
.section-select-opions {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}
.section-question-answer {
	margin-top: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.describe-section-title {
	visibility: hidden;
	height: 0px;
}
.button-visible-answer {
	border: 2px solid #f20149;
	background: #13010a;
	width: 100%;
	border-radius: 2px;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px 8px 8px 15px;
	color: white;
	text-align: start;
	transition: all 0.4s;
	&:hover {
		box-shadow: 0px 0px 14px -3px #f20149;
	}
	svg {
		width: 20px;
		height: 20px;
	}
	svg path {
		fill: white;
		transition: all 3s;
	}
	svg:hover path {
		fill: #f20149;
	}
}
.button-visible-answer.active {
	box-shadow: 0px 0px 14px -3px #f20149;
}

.not-found-text {
	border: 2px solid #f20149;
	background: #13010a;
	width: 100%;
	height: auto;
	border-radius: 2px;
	padding: 8px 8px 8px 15px;
	text-align: start;
}

.describe-answer-text {
	visibility: hidden;
	opacity: 0;
	height: 0;
	overflow: hidden;
	margin-top: 10px;
	border: 2px solid #f20149;
	border-radius: 2px;
	background: #13010a;
	padding: 20px;
	line-height: 17px;
}

.describe-answer-text.active {
	visibility: visible;
	opacity: 1;
	height: auto;
	max-height: 250px;
	overflow-y: scroll;
	width: 100%;
	&::-webkit-scrollbar {
		width: 10px;
		background: none;
	}
	&::-webkit-scrollbar-thumb {
		width: 10px;
		border-radius: 8px;
		background: #f20149;
	}
}
.wrapper-switch-buttons {
	margin-top: -45px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	button {
		width: 48%;
		height: 35px;
		background: #141414;
		border: 1px solid #f20149;
		color: white;
		transition: all 0.4s;
		&:hover {
			box-shadow: 0px 0px 12px -3px #f20149;
		}
	}
}
.wrapper-switch-buttons.active {
	margin-top: 5px;
	margin-bottom: 5px;
}

@media (max-height: 740px) {
	.container-preparation-content {
		margin-top: 100px;
	}
}
@media (max-height: 670px) {
	.container-preparation-content {
		margin-top: 50px;
	}
}
@media (max-height: 620px) {
	.describe-answer-text.active {
		max-height: 200px;
	}
}
@media (max-height: 570px) {
	.container-preparation-content {
		margin-top: 30px;
	}
	.describe-answer-text.active {
		max-height: 180px;
	}
}
@media (max-width: 570px) {
	.container-preparation-content {
		width: 98%;
	}
	.container-preparation-content {
		margin-top: 0;
	}
}
@media (max-width: 400px) and (max-height: 620px) {
	.container-preparation-wrapper {
		height: 85%;
	}
}
@media (max-width: 320px) {
	.describe-question-text {
		font-size: 14px;
	}
	.describe-answer-text {
		font-size: 12px;
		padding: 10px;
	}
	.button-next-question {
		margin-top: -30px;
		margin-bottom: 15px;
	}
}
