.elem-input-field {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-radius: 8px;
	padding-left: 15px;
	border: 2px solid #f20149;
	background: #13010a;
	color: white;
	margin-top: 8px;
	transition: all 0.4s;
}
.elem-input-field:hover {
	box-shadow: 0px 0px 14px -3px #f20149;
}
.elem-input-field:focus {
	box-shadow: 0px 0px 14px -3px #f20149;
}
.text-area-field {
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	max-height: 200px;
	min-height: 200px;
	padding-top: 20px;
	border-radius: 8px;
	padding-left: 15px;
	padding-right: 10px;
	border: 2px solid #f20149;
	background: #13010a;
	color: white;
	margin-top: 8px;
	transition: all 0.5s;
}
.text-area-field:hover {
	box-shadow: 0px 0px 15px -3px #f20149;
}
.error-label-item {
	color: #f20149;
	font-size: 16px;
	display: block;
	margin-top: 10px;
	text-shadow: 2px 2px 4px #f20101;
	margin-left: 4px;
}
