.main-container-block {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.main-container-block h1 {
	font-size: 22px;
	font-weight: 500;
	width: 400px;
	text-align: center;
	margin-bottom: 40px;
}
.container-icon-technologies {
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 40px;
	width: 544px;
}
.container-icon-technologies li {
	width: 100px;
	height: 100px;
	transition: all 0.8s;
	flex: 0 1 calc(25% - 40px);
}
.container-icon-technologies li svg {
	width: 80px;
	height: 80px;
	color: gray;
}
.container-icon-technologies li:hover {
	transform: scale(1.2);
}
.descripion-for-link {
	display: none;
}
svg {
	max-width: 100px;
	max-height: 100px;
}
svg:hover path {
	transition: all 0.6s;
	fill: #f20149;
}
@media (max-width: 1000px) {
	.container-icon-technologies {
		gap: 22px;
		width: 300px;
	}
	.container-icon-technologies li {
		width: 50px;
		height: 50px;
		flex: 0 1 calc(25% - 22px);
	}
	svg {
		max-width: 50px;
		max-height: 50px;
	}
}

@media (max-width: 450px) {
	.main-container-block h1 {
		font-size: 20px;
		width: 90%;
		margin-top: 20px;
	}
	.main-container-block {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		height: 89%;
		overflow-y: scroll;
	}
	.container-icon-technologies {
		padding-bottom: 15px;
		margin-top: 0;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		gap: 0;
		width: 90%;
	}
	.container-icon-technologies li {
		width: 100%;
		margin-top: 15px;
	}
	.container-icon-technologies li a {
		display: flex;
		height: 100%;
		justify-content: space-between;
	}
	.container-icon-technologies li:hover {
		transform: none;
	}
	.container-icon-technologies li svg {
		width: 45px;
		height: 45px;
		color: #f20149;
	}
	.descripion-for-link {
		display: flex;
		align-items: center;
		justify-content: center;
		color: white;
		height: 100%;
		width: 80%;
		border: 2px solid #f20149;
	}
}
@media (max-width: 450px) and (max-height: 600px),
	(max-width: 450px) and (max-height: 565px) {
	.container-icon-technologies li {
		margin-top: 10px;
	}
}

@media (max-width: 450px) and (max-height: 565px) {
	.container-icon-technologies li {
		margin-top: 10px;
		height: 30px;
	}
	.container-icon-technologies li svg {
		width: 40px;
		height: 40px;
	}
}
